<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sign in{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/style/login.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('bootstrap/img/lock-icon.png') }}" id="icon" alt="User Icon" />
            </div>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <!-- Login Form -->
            <form action="{{ path('login') }}" method="post">
                <input type="text" id="username" class="fadeIn second" name="_username" placeholder="login" value="{{ username }}">
                <input type="password" id="password" class="fadeIn third" name="_password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Sign in">
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>


