<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/style/default.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
            <a href="{{ path('dashboard') }}" id="side-menu-header">
                <img id="img-header" src="{{ asset('bootstrap/img/logo_tt_header.png') }}" class="hidden-xs hidden-sm">
            </a>
            <ul>
                <li class="link active">
                    <a href="{{ path('dashboard') }}">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="link">
                    <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        <span>Carte Sim</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post">
                        <li><a href="{{ path('new_sim') }}">Ajouter</a> </li>
                        <li><a href="{{ path('sim_list') }}">Liste</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-marque" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span>Marque</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-marque">
                        <li><a href="{{ path('new_marque') }}">Ajouter</a> </li>
                        <li><a href="{{ path('marque_list') }}">Liste</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-offre" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        <span>Offre</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-offre">
                        <li><a href="{{ path('new_offre') }}">Ajouter</a> </li>
                        <li><a href="{{ path('offre_list') }}">Liste</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-num" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <span>Numero Appel</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-num">
                        <li><a href="{{ path('new_numero_appel') }}">Ajouter</a> </li>
                        <li><a href="{{ path('num_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-cin" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                        <span>Carte Cin</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-cin">
                        <li><a href="{{ path('new_cin') }}">Ajouter</a></li>
                        <li><a href="{{ path('cin_list') }}">Liste</a></li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-agent-com" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>Agents commerciaux</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-agent-com">
                        <li><a href="{{ path('new_agent_com') }}">Ajouter</a></li>
                        <li><a href="{{ path('agent_com_list') }}">Liste</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-agent-report" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-sm">Suivre vente</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-agent-report">
                        <li><a href="{{ path('chart') }}">Consulter</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
            <div class="row">
                <header id="nav-header" class="clearfix">
                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="side-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                    </div>

                    <div class="col-md-7 pull-right">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs"></li>
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <li><a href="{{ path('logout')}}" class="glyphicon glyphicon-log-out">Logout</a> </li>
                            {% endif %}
                        </ul>
                    </div>
                </header>
            </div>

            {% block body %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div id="dash-agent" class="well dash-box">
                                <h2>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"> {{ countAgentCom }}</span>
                                </h2>
                                <h4>Agents Commerciaux</h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div id="dash-sim" class="well dash-box">
                                <h2>
                                    <span class="glyphicon glyphicon-credit-card"> {{ countSims }}</span>
                                </h2>
                                <h4>Cartes Sim</h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div id="dash-offre" class="well dash-box">
                                <h2>
                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"> {{ countOffres }}</span>
                                </h2>
                                <h4>Offres</h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div id="dash-marque" class="well dash-box">
                                <h2>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"> {{ countMarque }}</span>
                                </h2>
                                <h4>Marque</h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panle panel-default">
                    <div class="panel-body">
                        <div class="chart-body">
                            <div id="linechart" class="stat-chart"></div>
                            <div id="piechart" class="stat-chart"></div>
                        </div>
                    </div>
                </div>

            {% endblock %}

            <div class="row">
                <footer id="amdin-footer" class="clearfix">
                    <div class="pull-left">
                        <b>Copyright </b>&copy; 2018
                    </div>
                    <div class="pull-right">Tunisie Telecom</div>
                </footer>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/script/default.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>

    <script type="text/javascript">
        {{ chart(line) }}
    </script>

{% endblock %}
</body>
</html>