<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Liste Agents Reportings{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/style/default.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
            <a href="{{ path('dashboard') }}" id="side-menu-header">
                <img id="img-header" src="{{ asset('bootstrap/img/logo_tt_header.png') }}" class="hidden-xs hidden-sm">
            </a>
            <ul>
                <li class="link">
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="link">
                    <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        <span>Carte Sim</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post">
                        <li><a href="{{ path('new_sim') }}">Ajouter</a> </li>
                        <li><a href="{{ path('sim_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-marque" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span>Marque</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-marque">
                        <li><a href="{{ path('new_marque') }}">Ajouter</a> </li>
                        <li><a href="{{ path('marque_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-offre" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        <span>Offre</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-offre">
                        <li><a href="{{ path('new_offre') }}">Ajouter</a> </li>
                        <li><a href="{{ path('offre_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-num" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <span>Numero Appel</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-num">
                        <li><a href="{{ path('new_numero_appel') }}">Ajouter</a> </li>
                        <li><a href="{{ path('num_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-post-agent-com" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>Agents commerciaux</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-agent-com">
                        <li><a href="{{ path('new_agent_com') }}">Ajouter</a></li>
                        <li><a href="{{ path('agent_com_list') }}">Lister</a> </li>
                    </ul>
                </li>

                <li class="link active">
                    <a href="#collapse-post-agent-report" data-toggle="collapse" aria-controls="collapse-post">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-sm">Agents Reporting</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-post-agent-report">
                        <li><a href="{{ path('new_agent_report') }}">Ajouter</a> </li>
                        <li><a href="{{ path('agent_report_list') }}">Lister</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
            <div class="row">
                <header id="nav-header" class="clearfix">
                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="side-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                    </div>
                    <div class="col-md-7 pull-right">
                        <ul class="pull-right">
                            <li id="welcome" class="hidden-xs">Welcome to admin area</li>

                            {% if (is_granted('ROLE_ADMIN')) %}
                                <li>
                                    <a href="{{ path('logout')}}" class="glyphicon glyphicon-log-out">Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </header>
            </div>

            <div class="main-content">
                {% for msg in app.session.flashBag.get('Success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
            </div>

            {% block body %}

                <div id="content">
                    <a href="{{ path('new_agent_report') }}" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Ajouter
                    </a>

                    <header>
                        <h2 class="page_title">
                            Liste des Agents Reportings
                        </h2>
                    </header>

                    <table id="list" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Tel</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td>{{ agent.username }}</td>
                                <td>{{ agent.password }}</td>
                                <td>{{ agent.nom }}</td>
                                <td>{{ agent.prenom }}</td>
                                <td>{{ agent.email }}</td>
                                <td>{{ agent.tel }}</td>
                                <td>
                                    <a href="{{ path('edit_agent_report',{'id':agent.id}) }}" class="btn btn-xs btn-warning">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Edit
                                    </a>
                                    <a href="{{ path('agent_report_delete',{'id':agent.id}) }}" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}

            <div class="row">
                <footer id="amdin-footer" class="clearfix">
                    <div class="pull-left">
                        <b>Copyright </b>&copy; 2018
                    </div>
                    <div class="pull-right"><b>Tunisie Telecom</b></div>
                </footer>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/script/default.js') }}"></script>
    <script src="{{ asset('DataTables/DataTables-1.10.16/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>